<div class="text-center">
  <h1>予約完了</h1>
  <ul>
    <li><%= @reserve.restaurant.name %></li>
    <li><%= @reserve.reserved_at %></li>
    <li><%= @reserve.num_of_peo %>人</li>
  </ul>
  <h4>以上の通り予約しました。</h4>
  <h3>※この画面には戻れません！<br>スクリーンショットやメモを取ってください。</h3>
</div>
